speech-to-text/venv/
speech-to-text/__pycache__/
speech-to-text/.pytest_cache/
speech-to-text/transcripts/
*.pyc
*.part
speech-to-text/build/
speech-to-text/dist/
speech-to-text/installer/
speech-to-text/*.spec
